import spacy
nlp = spacy.load('en_core_web_md')
word1 = nlp("cat")
word2 = nlp("monkey")
word3 = nlp("banana")

word4 = nlp("granddad")
word5 = nlp("father")
word6 = nlp("mother")
word7 = nlp("grandparents")
word8 = nlp("daughter")
word9 = nlp("son")
word10 = nlp("niece")
word11 = nlp("uncle")
word12 = nlp("aunt")

print(word1.similarity(word2))
print(word1.similarity(word3))
print(word2.similarity(word3))
print("")

print(word4.similarity(word5))
print(word4.similarity(word6))
print(word4.similarity(word7))
print(word4.similarity(word8))
print(word4.similarity(word9))
print(word4.similarity(word10))
print(word4.similarity(word11))
print(word4.similarity(word12))
print("")

print(word5.similarity(word6))
print(word5.similarity(word7))
print(word5.similarity(word8))
print(word5.similarity(word9))
print(word5.similarity(word10))
print(word5.similarity(word11))
print(word5.similarity(word12))
print("")

print(word6.similarity(word7))
print(word6.similarity(word8))
print(word6.similarity(word9))
print(word6.similarity(word10))
print(word6.similarity(word11))
print(word6.similarity(word12))
print("")

print(word7.similarity(word8))
print(word7.similarity(word9))
print(word7.similarity(word10))
print(word7.similarity(word11))
print(word7.similarity(word12))
print("")

print(word8.similarity(word9))
print(word8.similarity(word10))
print(word8.similarity(word11))
print(word8.similarity(word12))
print("")

print(word9.similarity(word10))
print(word9.similarity(word11))
print(word9.similarity(word12))
print("")

print(word10.similarity(word11))
print(word10.similarity(word12))
print("")

print(word11.similarity(word12))


#cat-banana : 0.22 vs monkey-banana 0.40 => monkey and banana are more relative than cat and banana, such as monkey like to eat banana than cat
